main {
    padding: 24px 16px;
    display: grid;
    gap: 16px;
}
.Mtitulo {
    font-size: 26px;
    font-weight: 700;
}
.Mbanner {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--banner);
}
.Mbanner-destaque {
    margin-bottom: 16px;
}
.Mtxt-banner {
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
}
.Mtexto-1 {
    grid-column: span 2;
}
.Mtitulo-banner {
    font-size: 18px;
    font-weight: 700;
    grid-column: span 2;
}
.Mbanner-texto {
    font-size: 14px;
    color: var(--cor-secundaria);  
    grid-column: span 2; 
}
.Mbanner-txt {
    display: flex;
    align-items: center;
    color: var(--cor-secundaria);
}
.Mbanner-temp::before {
    content: "\e90c";
    margin-right: 8px;
}
.Mbanner-visu::before {
    content: "\e90f";
    margin-right: 8px;
}
.Mbanner-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--botao);
    height: 40px;
    border-radius: 10px;
    font-size: 14px;
}
.Mbanner-botao-play::before {
    content: "\e90b";
    font-size: 24px;
    margin-right: 8px;
}
.Mbanner-botao-destaque {
    grid-column: span 2;
    width: 100%;
}
.Mbanner-botao-carrinho::before {
    content: "\e901";
}
.Mbotaozinho {
    background-color: var(--botao);
    width: 40px;
    height: 40px;
    border-radius: 8px;
    justify-self: end;
    font-size: 24px;
}
.Mbotaozinho-carrinho::before {
    content: "\e901";
}
.Mbotaozinho-play::before {
    content: "\e90b";
}
.mapa-picos {
    height: 60vh;
    background-image: url(../img/mapa-picos.png);
    background-position: center;
    background-size: cover;
}
.Mbotaozinho-picos::before {
    content: "\e909";
    font-size: 24px;
}

