.cabecalho {
    background-color: var(--Mcabecalho);
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    padding: .6em 0;
}
.menu-hamburg i::before {
    content: "\e904";
    font-size: 24px;
}
.notificacao i::before {
    content: "\e906";
    font-size: 24px;
}
.navegacao {
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 100vh;
    background-color: var(--Mcabecalho);
    color: var(--cor-secundaria);
    left: 0;
    transition: .25s;
    position: absolute;
}
.navegacao--ativo {
    left: -100vw;
    transition: .25s;
}
.logotipo {
    width: 130px;
    align-self: center;
}

.link-lateral {
    height: 64px;
    color: var(--cor-secundaria);
    padding-left: 64px;
    display: flex;
    align-items: center;
}
.link-lateral--ativo {
    color: var(--branco);
    padding-left: 56px;
    border-left: 8px solid var(--branco);
}

.link-lateral::before {
    content: "";
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}
.icon-inicio::before {
    content: "\e902";
}
.icon-videos::before {
    content: "\e90e";
}
.icon-picos::before {
    content: "\e909";
}
.icon-integrantes::before {
    content: "\e903";
}
.icon-camisas::before {
    content: "\e900";
}
.icon-pinturas::before {
    content: "\e90a";
}